<!DOCTYPE html>
<html lang="en" ng-app="myLangApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular | Controllers</title>
    <script src="./Angular_JS/angular_v1.7.9.js"></script>
    <script src="./Scripts/9.js"></script>
</head>
<body>
    <div ng-controller="languages">
        Select Your Favourite Language: 
        <button ng-click="cpp()"> C++ </button>
        <button ng-click="java()"> Java </button>
        <button ng-click="cSharp()"> C# </button>
        <button ng-click="javaScript()"> JavaScript </button>

        <p>You Have Selected: {{myFavLang}}</p>
    </div>
</body>
</html>